*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body, html{
    overflow-x: hidden;
}
nav{
    margin: auto;
    max-width: 1100px;
    width: 100%;
}
#checkbox-menu,
.toggle{
display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu li a {
    color: black;
    text-decoration: none;
    align-self: center ;
    font-size: 15px;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover{
    background: rgb(255, 219, 16);
    border-radius: 6px;

}
.menu li a.logo{
    font-size: 25px;
    margin-right: 240px;
}
.menu li a.contacts{
    margin-right: 100px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.intro{
    margin-top: 28px;
    display: flex;
    justify-content: flex-end;
}
.intro-img{
    background-image: url(img/img3.jpg);
    width: 965px;
    height: 543px;
}
.intro .intro-text{
    position: absolute;
    font-size: 42px;
    right: 950px;
    top: 220px;
}
.intro-contacts{
    background-color: rgb(255, 219, 16);
    max-width: 590px;
    position: absolute;
    right: 400px;
    top: 540px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
.intro-contacts i{
    color: #FFF;
    margin-right: 30px;
}
.intro-contacts p{
    font-size: 18px;
    margin-right: 60px;
}

.stats{
    display: flex;
    margin-top: 130px;
}
.stats-line{
    display: flex;
}
.stats-text{
    padding: 40px;
}
.stats-text h2{
    font-size: 40px;
    margin-bottom: 70px;
}
.stats-text p {
    margin-top: 50px;
    font-style: 13px;
    line-height: 27px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: rgba(241, 241, 241, 0.37);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square{
    font-size: 40px;
    color: rgb(255, 219, 16);
    margin-bottom: 13px;
}
/* стилизация карточек*/
.tours{
    background: #f5f5f5a8;
    padding: 60px 0;
}
.tour h2{
    margin-bottom: 85px;
    font-size: 40px;
}
.card{
    max-width: 348px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    
}
.card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.card-container{
    padding: 25px;
}
.card-container h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card-info .money{
    font-size: 18px;
    color:  rgb(255, 217, 0);
}
.card-info i{
    margin-left: 10px;
}
.card-info span:first-child{
    margin-right: 10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
}
.tours input[type=text]{
    margin-top: 50px;
    width: 300px;
    height: 70px;
    border: none;
    background-image: url(img/search4.png);
    background-repeat: no-repeat;
    background-position: 28px;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: rgb(216, 216, 216);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tours input[type=submit]{
    width: 115px;
    border: none;
    height: 70px;
    background-color: rgb(255, 217, 0) ;
    font-size: 15px;
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.all{
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    background-color: rgb(236, 236, 236);
    margin-top: 52px;
    font-style: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in-out;
}
.all:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.buttons-search{
    display: flex;
}

.steps h2{
    margin-top: 55px;
    font-size: 40px;
    margin-bottom: 35px;
}
.steps-text{
    line-height: 27px;
    font-size: 13px;
}
.mbtext{
    margin-bottom: 70px;

}
.stepblock{
    width: 340px;
    height: 370px;
    background-color: #FFF;
    box-shadow: 0 0px 7px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.stepblock .step-num{
    font-size: 200px;
    position: relative;
    top: -110px;
    left: -35px;
}
.transition{
    transition: 3s;
}
.stepblock:hover{
    background-color: rgb(255, 208, 0);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: white;
}
.steps-container{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.stepblock h4{
    font-size: 14px;
    margin-left: 40px;
    margin-top: -100px;
    margin-bottom: 30px;
}
.stepblock h4 span{
    margin-right: 20px;
}
.stepblock .step-info{
    margin-left: 70px;
    line-height: 29px;
}
.stepblock .stepinfolast{
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    border-bottom: 3px solid black; 
    transition: 1s;
}




@media screen and (max-width: 765px){ /* конопка меню при max-width: 765px */
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        width: 100%;
        color: black;
        background: rgb(255, 219, 16);
        transition: all .1s linear;
    }
    .toggle:hover{
        background:rgb(231, 202, 34) ;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;

    }
    #checkbox-menu:checked + label .touch{
        height: 350px;

    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }

                   /* li елементы не становятся по центру */
     .menu li{
         display: flex;
         align-self: center;
         width: 95%;
         opacity: o;
         visibility: hidden; 

    }
    .menu li a{
        widows: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo{
        font-size: 21px;
        margin-right: 0px;
    }
    .menu li a.contacts{
        margin-right: 0px;
    }

    /*адаптивность блока intro*/
    .intro{
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img{
        background-position: bottom 0px right 370px;
    }
    .intro .intro-text{
        position: relative;
        font-size: 25px;
        right: -10px;
        top: 40px;
        text-outline: 95px;
    }
    .intro .intro-contacts{
        right: 0;
        top: 0px;
        text-outline: -60px;
        padding: 20px 10px;
        position: relative;
    }
    .intro-contacts i {
        margin-right: 10px;
    }
    .intro-contacts p{
        font-size: 13px;
        margin-right: 0;
    }
    .stats{
        margin-top: 0;
        flex-direction: column;
    }
    .stats-text{
        padding: 10px;

    }
    .stats-text h2{
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .stats-text p{
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }
    .square{
        height: 114px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 10px;
        justify-items: center;
    }
    .tour h2{
        font-size: 35px;
        margin-top: 20px ;
        margin-left: 25px;
    }
    .tours input[type=text]{
        margin-top: 20px;
        width: 130px;
    }
    .buttons-search{
        flex-direction: column;
        margin-left: 4px;
    }
    .all{
        margin-top: 10px;
        margin-left: 0;
    }
    .steps-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .stepblock{
        margin-top: 20px;
    }
    .steps-text .steps h2 {
        margin-left: 5%;
        margin-bottom: 15px;
    }
} 
@media screen and (max-width: 1400px){
    .intro-contacts{
        right: 140px;
    }
    .intro .intro-text{
        right: 720px;
    }
} 
