body{
    margin: 0px;
};
.logo{
   margin: 2px;
}
#icon1{
  width: 100px;
  height: 100px;
}
.parallax {
  background-image: url("img/Vista.png");
  min-height: 900px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  width: auto;
  height: 50px;
  background-color: rgb(255, 255, 255);
  
}
